---
import ProductCard from "./ProductCard.astro";

const products = await fetch("https://fakestoreapi.com/products").then((res) =>
  res.json()
);
---

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: var(--s4);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>

<ul>
  {
    products.map((product) => (
      <li>
        <a href={`/products/${product.id}`}>
          <ProductCard product={product} />
        </a>
      </li>
    ))
  }
</ul>
